
.leaflet-container{
  width: 90vw;
  height: 90vh;
}

.leaflet-control-attribution{
  display:none !important;
}

.dropzone {
  border: 4px dashed Black;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 25px;
  
}